<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.socbb.core.dao.system.MenuDao">
  <resultMap id="BaseResultMap" type="cn.socbb.core.bean.system.Menu">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="perms" jdbcType="VARCHAR" property="perms" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="seq" jdbcType="INTEGER" property="seq" />
    <result column="root" jdbcType="INTEGER" property="root" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, parent_id, name, url, perms, icon, type, seq, create_time, update_time,level
  </sql>
  
  <select id="findByRoleId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
      m.id,
      m.name,
      m.parent_id,
      m.url,
      m.perms,
      m.icon,
      m.type,
      m.seq,
      m.root
    from menu m
    left join menu_role smr on smr.menu = m.id
    where smr.role_id = #{roleId}
    order by m.seq,m.create_time asc
  </select>

  <select id="findByUserId" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
      m.id,
      m.parent_id,
      m.name,
      m.url,
      m.perms,
      m.icon,
      m.type,
      m.seq,
      m.root
    from menu m
    left join role_menu smr on smr.menu_id = m.id
    left join user_role sur on sur.role_id = smr.role_id
    <where>
      <if test="userId != null">
        and sur.user_id = #{userId}
      </if>
      <if test="type != null">
        and m.type = #{type}
      </if>
    </where>
    order by m.seq,m.create_time asc
  </select>

  <select id="findUrlAndPerms" resultMap="BaseResultMap">
        SELECT
            url,
            perms
        FROM
            menu
        WHERE
            url IS NOT NULL
        ORDER BY
            seq ASC
    </select>
</mapper>