<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.socbb.core.dao.system.RoleDao">
    <resultMap id="BaseResultMap" type="cn.socbb.core.bean.system.Role">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createtime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updatetime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, name, remark, status, create_time, update_time
  </sql>

    <select id="findByUserId" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
          sr.id,
          sr.name,
          sr.status,
          sr.remark
        from role sr
        left join user_role sur on sur.role_id = sr.id
        where sur.user_id = #{userId}
        <if test="status != null">
            and sr.status = #{status}
        </if>
    </select>
</mapper>